span.index-module_type__E-SaG {
  color: #59aeda;
  -webkit-text-fill-color: #75b7981c;
  -webkit-text-stroke-width: 3px;
  letter-spacing: 0.033em;
  font-size: 74px !important;
  font-family: fantasy;
}
